/target/
/.edge-test-profile/
/prototype-output/
/config.yaml
/dist/
/tools/
!/tools/benchmark-v1.ps1
!/tools/compare-v1.ps1
/artifacts/
*.xls*
*.doc*
*.pdf
*.jsonc
*.json
!config.example.jsonc
*.txt
*.br2
*.xip
*.zip
*.7z
